* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.header {
  background-color: rgb(0, 0, 0);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ulNav {
  list-style: none;
  display: flex;
  align-items: center;
}

.ulNav li {
  margin: 20px 20px;

}

.ulNav li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.containerCartWidget {
  position: relative;
}

.iconCart {
  width: 30px;
  height: 30px;

  background-image: url("https://img.icons8.com/material-outlined/24/ffffff/shopping-cart--v1.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  right: 40px;
  
}

.numberCart {
  font-size: 10px;
  width: 15px;
  height: 15px;
  background-color: white;
  color: black;
  border-radius: 60%;
  text-align: center;
  position: absolute;
  top: -10px;
  right: -5px;
}

.contenedorLogo a{
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.logo {
  color: white;
}

.botonesContadorCarrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.divContador {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 110px;

}

.btnSumar {
  background-image: url("https://img.icons8.com/ios-filled/30/ffffff/plus-math.png");
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  border: 2px black solid;
  cursor: pointer;
  transition: all .4s;
}

.btnRestar {
  background-image: url("https://img.icons8.com/ios-filled/30/ffffff/minus-math.png");
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  border: 2px black solid;
  cursor: pointer;
  transition: all .4s;
}

.btnRestar:active {
  background-image: url("https://img.icons8.com/ios-filled/30/000000/minus-math.png");
  background-color: white;
  border: 2px black solid;
  color: black;
}

.btnSumar:active {
  background-image: url("https://img.icons8.com/ios-filled/30/000000/plus-math.png");
  background-color: white;
  border: 2px black solid;
  color: black;
}


.btnCantidad {
  background-color: white;
  border: 2px black solid;
  width: 40px;
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
  height: 30px;
}

.btnAgregarCarrito, .btnChekOut{
  background-color: white;
  border: 2px black solid;
  font-style: none;
  height: 30px;
  width: 180px;
  margin: 5px;
  cursor: pointer;
  transition: all .2s;
}

.btnAgregarCarrito:active , .btnChekOut:active{
  background-color: black;
  color: white;
}



.card {
  background-color: white;
  margin: 20px;
  width: 20%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px black solid;
 
}

.infoCard {
  background-color: rgba(255, 255, 255, 0);

  text-align: center;
  margin: 10px;
  
  display: inline-block;
}

.tituloCard {
  background-color: white;
  margin-top: 10px;
  
  width: 200px;
  text-align: center;

}

.imgCard {
  width: 200px;
  margin: 10px;
  border: 2px solid black;
}

.containerProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.containerInfoCard {
  display: flex;
  

}

.detailContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.detailContainer img {
  width: 400px;
  border: 4px black solid;
  

}

.tituloDetail {
  text-align: center;
  margin: 20px;
}

.fotoDescripcion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 30px;
}

.precioDetail {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 60px;
}

.infoDetail {
  height: 300px;
   position: relative;
  top: 0;
  margin-left: 20px;
}

.descripcionDetail{
  width: 70%;
}

.cargando {
position: relative;
top: 300px;
}

.containerCargando {
 position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarLink{
  text-decoration: none;
  border: none;
  color: white;

}
a:link, a:visited, a:active {
  text-decoration:none;
}


p:link, p:visited, p:active{
  text-decoration: none;
  color: black;
} 
.infoCardDetail{
  background-color: white;
  color: black;
  width: 100px;
  text-align: center;
  margin: 10px;
  border: 2px solid black;
  display: inline-block;
  cursor: pointer;
}

.containerCarrito{
  width: 90%;
  
  border: 2px solid black;
  display: flex;
  margin: 20px auto;
  margin-top: 5px;
  flex-wrap: wrap;
  justify-content: center;

}

.cajaCarrito {
  display: flex;
  flex-direction: column; 
  justify-content:center;
  align-items: center;
  border: 2px solid black;
  width: 20%;
  height: 25%;
  margin: 20px;
}
.imagenProductoCarrito{
  display: flex;
  justify-content: center;
}

.imagenProductoCarrito img{
  width: 90%;
  background-color: black;
}

.borrarProducto{
  background-color: white;
  border: 2px black solid;
  font-style: none;
  height: 30px;
  width: 180px;
  margin: 5px;
  cursor: pointer;
  transition: all .2s;
}

.borrarTodo{
  background-color: white;
  border: 2px black solid;
  font-style: none;
  height: 30px;
  width: 180px;
  margin: 5px;
  cursor: pointer;
  transition: all .2s;
}

.carritoTitulo{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.carritoVacio{
  margin: 50px;
  text-align: center;
}

.carritoVacioContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desgloseCarrito{
  margin: 10px auto;
  border: 2px solid black;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px){
  .containerProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card{
    width: 250px;
  }
  .detailContainer{
    flex-direction: column;
    margin: 0;
  }
}