*{
  margin: 0;
  padding: 0;
}

.header{
  background-color: rgb(0, 0, 0);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.ulNav {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 50px;
}

.ulNav li {
  margin: 20px 20px;
  
}

.ulNav li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

/* .iconoCarrito {
  width: 70px;
  background-image: url("https://img.icons8.com/material-outlined/24/000000/shopping-cart--v1.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  right: 40px;
}

.numeroCarrito  {
width: 20px;
  background-color: white;
  color: black;
  border-radius: 50%;
  text-align: center;
  position:relative;
  top: 0;
  right: 0;
} */

.contenedorLogo{
  margin: 0 50px;
}